# ============================================
# NL SCADA Center v1.0 – Environment Variables
# ============================================

# --- PostgreSQL ---
DATABASE_URL=postgres://nlscada:Nlscada@2025@postgres:5432/nlscada?sslmode=disable

# --- InfluxDB ---
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_TOKEN=O8y_S9IiW08AuilWqb1IU7un9TI0puhy1Tbt-oM-Av3k_cos_tfYg6OlyicCQuW2iMtKpOp3oKhn6O4Ea76JcQ==   # Token vừa tạo ở Task 1.6
# INFLUXDB_ORG=nlscada                # (nếu cần)
# INFLUXDB_BUCKET=nlscada_metrics     # (nếu cần)

# --- MQTT (EMQX) ---
MQTT_BROKER=tcp://emqx:1883
MQTT_USER=core-service
MQTT_PASS=CoreService@2025

# --- JWT ---
JWT_SECRET=change-me-to-a-random-string

# --- EMQX Dashboard ---
EMQX_DASHBOARD_USER=admin
EMQX_DASHBOARD_PASSWORD=Admin@123

# --- Gateway Simulator (test) ---
GATEWAY_MQTT_USER=gateway-sim
GATEWAY_MQTT_PASS=GatewaySim@2025